body{
   text-align:center;
    background-image: url(../images/eyeglasses2.png);
   background-size:cover;
  position: relative;

}



.home-button{ 
   
   
   margin-left:1400px;
   margin-top:20px;
   

} 

.container{
    border:white solid 1px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top:110px;
    margin-left: 350px;
    margin-right: 350px;
    box-shadow:8px 8px 5px rgb(49, 6, 6);
}


.folder1{
   
   
}

.logo{
    width:250px;
    height:250px;
}

div.left{
    margin: auto;
    margin-left: 40px;
}

div.title {
    font-weight: 400;
    font-family: 'Krona One';
    align-items:center ;
    font-size: 150%;
    justify-content: center;
    width:250px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.login-text{
    width:250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    /* font-size:28px; */
    align-items: center;
    justify-content: center;
}

.google-container:hover{
    background-color: #830002;
    color:white;
}

.apple-container:hover{
    background-color: #830002;
    color:white;
}

.facebook-container:hover{
    background-color: white;
    color:#0165E1;
}

.signin-container:hover{
    background-color: white;
    color:#830002;
}

a.home{
    text-decoration: none;
    color: #575757;
    border:1px solid white;
   width:fit-content;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #E9ECEF;
   right:20px;
   font-weight: bold;
   padding:10px 20px 10px 20px;
   border-radius:30px;
}

a.home:hover{
    color: white;
    background-color: #575757;
    width:fit-content;
}

.google-container{
    text-align: center;
    border:1px solid gray;
    background-color:#E9ECEF;
    color: #575757;
    font-weight:bolder;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius:50px;
    width:300px;
    padding:10px;
    margin-top:60px;
    margin-left:40px;
    margin-right:15px;
}

.apple-container{
     text-align: center;
    border:1px solid gray;
    background-color:#E9ECEF;
    color:#575757;
    font-weight:bolder;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius:50px;
    width:300px;
    padding:10px;
    margin-top:20px;
    margin-left:40px;
    margin-right:15px
}

.facebook-container{
    text-align: center;
    border:1px solid #0165E1;
    background-color:#0165E1;
    color:white;
    font-weight:bolder;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius:50px;
    width:300px;
    padding:10px;
    margin-top:20px;
    margin-left:40px;
    margin-right:15px
}

.folder2-font{
    align-items: center;
    color:#575757;
    font-weight:bolder;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signin-container{
    align-items: center;
    border:1px solid #830002 ;
    background-color:#830002;
    color:white;
    font-weight:bolder;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius:50px;
    width:300px;
    padding:10px;
    margin-top:20px;
    margin-left:40px;
    margin-right:15px
}


.create-container:hover{
   color:#830002;
}


.create-container{
    margin-left:20px;
    align-items: center;
    color:#575757;
    font-weight:bolder;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


