
body{
    margin:0px;
    padding-bottom:160px;
}
.purchase{
  position: fixed;
  bottom: 0; 
  left: 0;
  right: 0;
  background-color: #f8f8f8; 
   
  text-align: center; 
  padding-top:15px;
  width: 100%; 
  height:150px;
  
  z-index: 1000; 
}
.mini-segment2{
    display: flex;
    flex-direction: row;
}
.credit-card{
    border:darkcyan 2px solid;
    color:darkcyan;
    background-color:#f8f8f8 ;
    font-size:15px;
    border-radius:5px;
    width:100px;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    margin-top:0px;
    margin-right: 10px;
    font-weight: bolder;

}

body {
    width: 100%;
    margin: auto;
    background-color: white;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

a.header{
    text-decoration: none;
    color: black;
}

a.header:hover{
    color: #DB1D20;
    font-weight: bold;
    text-decoration: underline;
    
}

div.title {
    font-weight: 400;
    font-family: 'Krona One';
    align-items:center ;
    /* width: 20%; */
    padding-left: 10px;
}

div.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0;
}

header {
    border-width: 0 0 1px 0;
    border-style: solid;
}

div.page_choice{
    display: flex;
    justify-content: space-between;
    width: 25%;
    /* border-style: solid; */
    padding-top: 10px;
}

div.eyeglasses{
    padding: 0px 10px;
}

div.sunglasses{
    padding: 0px 10px;
}

div.on_sale{
    padding: 0px 10px;
}

div.search{
    width: 25%;
    border-style: solid;
    height: 40px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    display:flex;
}

div.searchtxt{
    margin: 20px 5px;
    align-items: center;
    color: #B2B2B2;
    padding: 0 10px;
}

img.cart {
    width: 50px;
}

div.icons{
    display: flex;
    justify-content: space-between;
    width: 10%;
    align-items: center;
}

div.cart{
    width: auto;
    padding-bottom: 5px;
    /* border-style: solid; */
}

img.cart:hover {
    background-color: #B2B2B2;
    border-radius: 30px;
}

img.user {
    width: 55px;
}

div.user{
    width: auto;
    /* border-style: solid; */
}

img.user:hover {
    background-color: #B2B2B2;
    border-radius: 30px;
}



footer{
    background-color: #830002;
    color: white;
    padding-bottom: 10px;
}

div.footer {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 10px 10px;
}

div.title_footer {
    font-weight: 400;
    font-family: 'Krona One';
    align-items:center ;
    padding-left: 10px;
}

div.adress {
    width: 30%;
}

div.footer_nav {
    width: 30%;
}

div.purrchase{
    padding: 0px 10px;
}

a.footer{
    text-decoration: none;
    color: white;
}

a.footer:hover{
    text-decoration: underline;
    font-weight: bold;
}


.cod{
    border:orangered 2px solid;
    color:white;
    background-color:orangered;
    font-size:15px;
    border-radius:5px;
    width:140px;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    margin-top:0px;
    margin-right: 10px;
    font-weight: bolder;

}


.segment{
    background-color: #f8f8f8;
    width:1740px;
    height:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mini-segment{
    display: flex;
    flex-direction: column ;
    
}

.checkout-text{
    color:#3D3D3D;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom:#B2B6BA 1px solid;
    font-size:24px;
    padding-bottom:10px;

}

.purchase-all{
    color:white;
    background-color: #830002;
    font-family: Arial, Helvetica, sans-serif;
    border: #830002 1px solid;
    border-radius: 30px;
    padding:20px;
    font-weight:bold;
}

.purchase-all:hover{
    color:white;
    background-color:#3D3D3D;
    border-color: #3D3D3D;
}  


.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container{
    display:flex;
    flex-direction: row;   
    justify-content: space-around; 
    width:1200px;
    height:200px;
    background-color:#EBEBEB ;
    border:2px #B2B6BA solid;
    border-radius:10px;
    margin-bottom:20px;
}

.checkbox{
    margin:30px;
    width:35px;
    height:35px;
}
input[type="checkbox"] {
  accent-color: #830002;
  font-family: Arial, Helvetica, sans-serif;
}

.price{
    font-size:36px;
    margin-right:350px;
    margin-top:0px;
    padding-bottom:40px;
    color:#3D3D3D;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.glasses{
    margin:20px;
    width:200px;
    height:150px;
    border:1px #B2B6BA solid;
    border-radius:5px;
}

.inside{
    display:flex;
    flex-direction: column;
    justify-content: right;
}

.text{
    margin:10px;
    font-size:24px;
    color:#3D3D3D;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom:0px;
    margin-bottom:4px;
    border-bottom:1px #B2B6BA solid;

}



.quantity-btn.decrement-btn {
  background-color: #830002; 
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.quantity-btn.increment-btn {
  background-color: #830002; 
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}


.quantity-display {
  padding: 0 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}


.plus-minus{
    display:flex;
    flex-direction:row;
    justify-content: right;
}

.red{
    border:#830002 1px solid;
    background-color:#830002 ;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    width:30px;
    padding:5px;
    text-align:center;
    border-radius:5px;
}

.mini-desc{
    font-size:10px;
    margin:0px;
    display: flex;
    justify-content: right;
}

.uv{
    margin:0px;
    color:white;
    border:darkslateblue 1px solid;
    background-color: darkslateblue;
    width:fit-content;
    padding:5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:2px;
}

.red:hover{
    border:#830002 1px solid;
    background-color:#EBEBEB ;
    color:#830002;
}

.num{
    padding:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}