div.body {
    margin: auto;
    display: flex;
}

div.sidebar {
    padding: 10px;
    width: 20%;
    background-color: #F4E6DE;
}

h2.titlesmol{
    font-weight: 400;
    font-family: 'Krona One';
}

h2.titlesmol1{
    font-weight: 400;
    font-family: 'Krona One';
    color: #830002;
}

div.titlexsmol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
}

div.choices {
    display: flex;
    line-height: 0;
}

p.choicetext {
    padding-left: 10px;
}

input[type="checkbox"] {
  accent-color: #830002;
  font-family: Arial, Helvetica, sans-serif;
}

div.main {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
}

a.details {
    text-decoration: none;
    color: black;
}

div.selections {
    margin: 10px 10px;
    background-color: #ebebeb;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    padding: 10px;
    border-style: solid;
    border-color: #b2b6ba;
}

.selections:hover {
   background-color: #B2B2B2; 
}

img.selection{
    width: 100%;
    align-self: center;
    border-radius: 20px;
}