div.body {
    margin: 40px 0;
}


.container{
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#EBEBEB;
    width:1200px;
    height:450px;
    border:1px solid black;
    border-radius:20px;
    
}

.catalog{
    margin-top: 40px;
    width:600px;
    height:400px;
    border:1px solid lightgray;
    border-radius:20px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left:0px;
    
}

.information{
    align-content: center;
  width:400px;
   
}

.info-text{
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
    font-weight: bolder;
    color:#3D3D3D;
    width:380px;
   
    

}
.hr-width{
    width:400px;
}

.price{
    padding-top:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:56px;
    font-weight: bolder;
    color:black;
    width:380px;
}

.buy{
    
    background-color:#830002;
    border:#830002 1px solid;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size:36px;
    width:fit-content;
    border-radius:50px;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
   

}

a.buys {
    text-decoration: none;
    color: white;
}

.buy:hover{
    background-color:#3D3D3D;
    border:#3D3D3D 5px solid;
    color:white;
}

.text{
    margin:auto;
    margin-top: 40px;
}

.description{
   padding-top:10px;
   padding-bottom:10px;
   padding-left:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    color:white;
    border:#696E71 1px solid;
    border-radius:30px;
    width:1200px;
    background-color: #676E71;;
    margin: auto;

}

.side-container{
    display:flex;
    justify-content:space-between;
    width:1200px;
    padding-top:5px;
    margin:auto;
    gap:10px;
    
}

.mini-container:hover{
   border:#3D3D3D solid 2px;
}




.mini-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color:#EBEBEB;
    width:200px;
    height:160px;
    border:#B2B6BA solid 1px;
    border-radius:20px;
    padding-top:10px;
    
}

.side-catalog{
    
    border:1px #3D3D3D solid;
    border-radius:20px;
    width:180px;
    height:100px;
}

.catalog-desc{
    align-items: center;
    padding-left:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:2px;
    margin-top:0;
    margin-bottom:0px;
    font-size:20px;
    color:#3D3D3D;
   
}

.pic{
    border:1px lightgray solid;
    border-radius:20px;
    margin:auto;
    width:180px;
    height:90px;
}

.font{
    align-items: center;
    padding-left:20px;
    padding-bottom:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:2px;
    margin-top:3px;
    margin-bottom:0px;
    font-size:10px;
    color:#3D3D3D;
}

p.number{
    margin-top:0px;
    
}

.mini-desc{
    margin-top:10px;
    margin-bottom:10px;
}

.number-desc{
    align-items: center;
    padding-left:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin-top:0;
    margin-bottom:0px;
    font-size:32px;
    color:#3D3D3D;
}