/* body start*/
div.main_images {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

img.bestseller {
    width: 100%;
    border-radius: 20px;
    grid-row: 1 / span 3;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box;
}

.bestseller:hover {
    border-color: #830002;
}

img.women {
    width: 95%;
    margin-left: 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box;
}

.women:hover {
    border-color: #830002;
}


img.men {
    width: 95%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    align-self: flex-end;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-sizing: border-box;
}

.men:hover {
    border-color: #830002;
}


img.kids {
    width: 95%;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 20px;
}

div.abovesale {
    display: flex;
    /* justify-content: space-between; */
    background-color: #DB1D20;
    /* justify-content: center; */
    width: 88%;
    padding: 0 20px;
    color: white;
    border-radius: 20px;
    margin: auto;
}

div.countdown {
    display: flex;
    align-items: center;
}

div.c {
    display: flex;
    padding: 0 20px;
}

div.countnum {
    background-color: white;
    color: #DB1D20;
    height: 70px;
    align-content: center;
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 10px;
}

div.undersale {
    margin: auto;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    
}

img.glasses {
    width: 90%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 20px;
    box-sizing: border-box;
}

.glasses:hover{
    border-color: #830002;
}

div.under30 {
    width: 90%;
    margin: auto;
    /* border-style: solid; */
    margin-top: 40px;
    padding: 10px;
    /* border-color: #DB1D20; */
}

div.glassespt2 {
    margin: auto;
    margin-top: 10px;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div.selections {
    margin: 10px 10px;
    background-color: #ebebeb;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    padding: 10px;
    border-style: solid;
    border-color: #b2b6ba;
}

.selections:hover {
   background-color: #B2B2B2; 
}

img.selection{
    width: 100%;
    align-self: center;
    border-radius: 20px;
}
/* body end */