
body {
    width: 100%;
    margin: auto;
    background-color: white;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

a.header{
    text-decoration: none;
    color: black;
}

a.header:hover{
    color: #DB1D20;
    font-weight: bold;
    text-decoration: underline;
    
}

div.title {
    font-weight: 400;
    font-family: 'Krona One';
    align-items:center ;
    /* width: 20%; */
    padding-left: 10px;
}

a.home {
    text-decoration: none;
    color: black;
}

.home:hover {
    color: #830002;
}

div.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0;
}

header {
    border-width: 0 0 1px 0;
    border-style: solid;
}

div.page_choice{
    display: flex;
    justify-content: space-between;
    width: 25%;
    /* border-style: solid; */
    padding-top: 10px;
}

div.eyeglasses{
    padding: 0px 10px;
}

div.sunglasses{
    padding: 0px 10px;
}

div.on_sale{
    padding: 0px 10px;
}

div.search{
    width: 25%;
    border-style: solid;
    height: 40px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    display:flex;
}

div.searchtxt{
    margin: 20px 5px;
    align-items: center;
    color: #B2B2B2;
    padding: 0 10px;
}

img.searchimg {
    width: 30px;
    padding-right: 10px;
}

img.cart {
    width: 50px;
}

div.icons{
    display: flex;
    justify-content: space-between;
    width: 10%;
    align-items: center;
}

div.cart{
    width: auto;
    padding-bottom: 5px;
    /* border-style: solid; */
}

img.cart:hover {
    background-color: #B2B2B2;
    border-radius: 30px;
}

img.user {
    width: 55px;
}

div.user{
    width: auto;
    /* border-style: solid; */
}

img.user:hover {
    background-color: #B2B2B2;
    border-radius: 30px;
}



footer{
    background-color: #830002;
    color: white;
    padding-bottom: 10px;
}

div.footer {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 10px 10px;
}

div.title_footer {
    font-weight: 400;
    font-family: 'Krona One';
    align-items:center ;
    padding-left: 10px;
}

div.adress {
    width: 30%;
}

div.footer_nav {
    width: 30%;
}

div.purrchase{
    padding: 0px 10px;
}

a.footer{
    text-decoration: none;
    color: white;
}

a.footer:hover{
    text-decoration: underline;
    font-weight: bold;
}
